In [1]:
import os
import pandas as pd

In [2]:
# Gather all filenames in provided directory
directory = "weather_data"
filenames = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f))]
print(filenames)

['pressure.csv', 'wind_speed.csv', 'city_attributes.csv', 'humidity.csv', 'wind_direction.csv', 'weather_description.csv', 'temperature.csv']

In [3]:
# Create dataframe containing the Hour, Day, Month, and Year of all entries
df = pd.read_csv(os.path.join(directory, 'humidity.csv'))
df = pd.to_datetime(df['datetime'])
datetime_df = pd.DataFrame()
datetime_df['Hour'] = df.dt.hour
datetime_df['Day'] = df.dt.day
datetime_df['Month'] = df.dt.month
datetime_df['Year'] = df.dt.year
print(datetime_df)

       Hour  Day  Month  Year
0        12    1     10  2012
1        13    1     10  2012
2        14    1     10  2012
3        15    1     10  2012
4        16    1     10  2012
...     ...  ...    ...   ...
45248    20   29     11  2017
45249    21   29     11  2017
45250    22   29     11  2017
45251    23   29     11  2017
45252     0   30     11  2017

[45253 rows x 4 columns]

In [4]:
# Gather a dataframe for each csv file
all_feature_dfs = []
lat_long_df = pd.DataFrame()
for file in filenames:
    df = pd.read_csv(os.path.join(directory, file))
    if file != 'city_attributes.csv':
        df = df.drop(columns=['datetime', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya', 'Jerusalem'])
        all_feature_dfs.append((file[:len(file) - 4], df))
    else:
        df = df.drop(columns=['City', 'Country'])
        lat_long_df = df
    print(file)
    print(df)

pressure.csv
       Vancouver  Portland  San Francisco  Seattle  Los Angeles  San Diego  \
0            NaN       NaN            NaN      NaN          NaN        NaN
1            NaN    1024.0         1009.0   1027.0       1013.0     1013.0
2            NaN    1024.0         1009.0   1027.0       1013.0     1013.0
3            NaN    1024.0         1009.0   1028.0       1013.0     1013.0
4            NaN    1024.0         1009.0   1028.0       1013.0     1013.0
...          ...       ...            ...      ...          ...        ...
45248        NaN    1031.0            NaN   1030.0       1016.0     1017.0
45249        NaN    1030.0            NaN   1030.0       1016.0     1017.0
45250        NaN    1030.0            NaN   1029.0       1015.0     1016.0
45251        NaN    1029.0            NaN   1028.0       1016.0     1016.0
45252        NaN    1029.0            NaN   1028.0       1015.0     1017.0

       Las Vegas  Phoenix  Albuquerque  Denver  ...  Detroit  Jacksonville  \
0            NaN      NaN          NaN     NaN  ...      NaN           NaN
1         1018.0   1013.0       1024.0  1028.0  ...   1016.0        1009.0
2         1018.0   1013.0       1024.0  1028.0  ...   1015.0        1009.0
3         1018.0   1013.0       1024.0  1028.0  ...   1015.0        1009.0
4         1018.0   1013.0       1024.0  1028.0  ...   1015.0        1009.0
...          ...      ...          ...     ...  ...      ...           ...
45248     1021.0   1018.0       1025.0  1016.0  ...   1027.0        1021.0
45249     1020.0   1018.0       1024.0  1018.0  ...   1027.0        1021.0
45250     1020.0   1017.0       1024.0  1018.0  ...   1027.0        1022.0
45251     1020.0   1016.0       1024.0  1020.0  ...   1027.0        1022.0
45252     1019.0   1016.0       1024.0  1021.0  ...   1027.0        1022.0

       Charlotte   Miami  Pittsburgh  Toronto  Philadelphia  New York  \
0            NaN     NaN         NaN      NaN           NaN       NaN
1         1012.0  1011.0      1015.0   1012.0        1014.0    1012.0
2         1012.0  1011.0      1015.0   1011.0        1014.0    1012.0
3         1012.0  1011.0      1015.0   1011.0        1014.0    1012.0
4         1012.0  1011.0      1015.0   1010.0        1014.0    1012.0
...          ...     ...         ...      ...           ...       ...
45248     1023.0     NaN      1024.0   1026.0        1021.0       NaN
45249     1023.0     NaN      1024.0   1026.0        1021.0       NaN
45250     1023.0     NaN      1024.0   1026.0        1022.0       NaN
45251     1023.0     NaN      1024.0   1027.0        1023.0       NaN
45252     1024.0     NaN      1025.0   1027.0        1024.0       NaN

       Montreal  Boston
0           NaN     NaN
1        1001.0  1014.0
2         986.0  1014.0
3         945.0  1014.0
4         904.0  1014.0
...         ...     ...
45248    1021.0  1017.0
45249    1023.0  1019.0
45250    1024.0  1019.0
45251    1026.0  1022.0
45252    1027.0  1023.0

[45253 rows x 30 columns]
wind_speed.csv
       Vancouver  Portland  San Francisco  Seattle  Los Angeles  San Diego  \
0            NaN       NaN            NaN      NaN          NaN        NaN
1            0.0       0.0            2.0      0.0          0.0        0.0
2            0.0       0.0            2.0      0.0          0.0        0.0
3            0.0       0.0            2.0      0.0          0.0        0.0
4            0.0       0.0            2.0      0.0          0.0        0.0
...          ...       ...            ...      ...          ...        ...
45248        NaN       2.0            NaN      4.0          1.0        2.0
45249        NaN       1.0            NaN      5.0          1.0        1.0
45250        NaN       1.0            NaN      5.0          1.0        2.0
45251        NaN       2.0            NaN      3.0          2.0        2.0
45252        NaN       1.0            NaN      4.0          1.0        2.0

       Las Vegas  Phoenix  Albuquerque  Denver  ...  Detroit  Jacksonville  \
0            NaN      NaN          NaN     NaN  ...      NaN           NaN
1            0.0      2.0          4.0     4.0  ...      0.0           3.0
2            0.0      2.0          4.0     4.0  ...      0.0           3.0
3            0.0      2.0          4.0     3.0  ...      0.0           3.0
4            0.0      2.0          4.0     3.0  ...      0.0           3.0
...          ...      ...          ...     ...  ...      ...           ...
45248        1.0      3.0          1.0     3.0  ...      1.0           3.0
45249        1.0      1.0          1.0     6.0  ...      2.0           4.0
45250        1.0      2.0          1.0     3.0  ...      3.0           3.0
45251        0.0      3.0          1.0     1.0  ...      1.0           3.0
45252        1.0      2.0          2.0     3.0  ...      1.0           2.0

       Charlotte  Miami  Pittsburgh  Toronto  Philadelphia  New York  \
0            NaN    NaN         NaN      NaN           NaN       NaN
1            4.0    3.0         0.0      3.0           4.0       7.0
2            4.0    3.0         0.0      3.0           4.0       7.0
3            4.0    3.0         0.0      3.0           3.0       7.0
4            4.0    3.0         0.0      3.0           3.0       7.0
...          ...    ...         ...      ...           ...       ...
45248        1.0    NaN         3.0      4.0           5.0       NaN
45249        1.0    NaN         2.0      4.0           5.0       NaN
45250        1.0    NaN         2.0      2.0           3.0       NaN
45251        0.0    NaN         2.0      4.0           3.0       NaN
45252        0.0    NaN         2.0      3.0           4.0       NaN

       Montreal  Boston
0           NaN     NaN
1           4.0     3.0
2           4.0     3.0
3           4.0     3.0
4           4.0     3.0
...         ...     ...
45248      10.0     8.0
45249       7.0     6.0
45250       7.0     7.0
45251       4.0     2.0
45252       4.0     2.0

[45253 rows x 30 columns]
city_attributes.csv
     Latitude   Longitude
0   49.249660 -123.119339
1   45.523449 -122.676208
2   37.774929 -122.419418
3   47.606209 -122.332069
4   34.052231 -118.243683
5   32.715328 -117.157257
6   36.174969 -115.137222
7   33.448380 -112.074043
8   35.084492 -106.651138
9   39.739151 -104.984703
10  29.424120  -98.493629
11  32.783058  -96.806671
12  29.763281  -95.363274
13  39.099731  -94.578568
14  44.979969  -93.263840
15  38.627270  -90.197891
16  41.850029  -87.650047
17  36.165890  -86.784439
18  39.768379  -86.158043
19  33.749001  -84.387978
20  42.331429  -83.045753
21  30.332180  -81.655647
22  35.227089  -80.843132
23  25.774269  -80.193657
24  40.440620  -79.995888
25  43.700111  -79.416298
26  39.952339  -75.163788
27  40.714272  -74.005966
28  45.508839  -73.587807
29  42.358429  -71.059769
30  31.251810   34.791302
31  32.083328   34.799999
32  29.558050   34.948212
33  32.815559   34.989170
34  33.005859   35.094090
35  31.769039   35.216331
humidity.csv
       Vancouver  Portland  San Francisco  Seattle  Los Angeles  San Diego  \
0            NaN       NaN            NaN      NaN          NaN        NaN
1           76.0      81.0           88.0     81.0         88.0       82.0
2           76.0      80.0           87.0     80.0         88.0       81.0
3           76.0      80.0           86.0     80.0         88.0       81.0
4           77.0      80.0           85.0     79.0         88.0       81.0
...          ...       ...            ...      ...          ...        ...
45248        NaN      81.0            NaN     93.0         24.0       72.0
45249        NaN      71.0            NaN     87.0         21.0       72.0
45250        NaN      71.0            NaN     93.0         23.0       68.0
45251        NaN      71.0            NaN     87.0         14.0       63.0
45252        NaN      76.0            NaN     75.0         56.0       72.0

       Las Vegas  Phoenix  Albuquerque  Denver  ...  Detroit  Jacksonville  \
0            NaN      NaN          NaN     NaN  ...      NaN           NaN
1           22.0     23.0         50.0    62.0  ...     76.0          88.0
2           21.0     23.0         49.0    62.0  ...     75.0          87.0
3           21.0     23.0         49.0    62.0  ...     75.0          87.0
4           21.0     23.0         49.0    62.0  ...     74.0          87.0
...          ...      ...          ...     ...  ...      ...           ...
45248       18.0     68.0         37.0    18.0  ...     39.0          47.0
45249       18.0     73.0         34.0    12.0  ...     39.0          47.0
45250       17.0     60.0         32.0    15.0  ...     42.0          53.0
45251       17.0     33.0         30.0    28.0  ...     52.0          73.0
45252       17.0     23.0         34.0    31.0  ...     56.0          88.0

       Charlotte  Miami  Pittsburgh  Toronto  Philadelphia  New York  \
0            NaN    NaN         NaN      NaN           NaN       NaN
1           87.0   83.0        93.0     82.0          71.0      58.0
2           87.0   82.0        93.0     81.0          70.0      57.0
3           87.0   82.0        93.0     79.0          70.0      57.0
4           87.0   82.0        93.0     77.0          69.0      57.0
...          ...    ...         ...      ...           ...       ...
45248       21.0    NaN        20.0     45.0          27.0       NaN
45249       21.0    NaN        23.0     48.0          29.0       NaN
45250       24.0    NaN        27.0     52.0          31.0       NaN
45251       38.0    NaN        36.0     64.0          26.0       NaN
45252       41.0    NaN        42.0     60.0          32.0       NaN

       Montreal  Boston
0           NaN     NaN
1          93.0    68.0
2          91.0    68.0
3          87.0    68.0
4          84.0    68.0
...         ...     ...
45248      64.0    37.0
45249      59.0    74.0
45250      66.0    74.0
45251      58.0    56.0
45252      58.0    56.0

[45253 rows x 30 columns]
wind_direction.csv
       Vancouver  Portland  San Francisco  Seattle  Los Angeles  San Diego  \
0            NaN       NaN            NaN      NaN          NaN        NaN
1            0.0       0.0          150.0      0.0          0.0        0.0
2            6.0       4.0          147.0      2.0          0.0        0.0
3           20.0      18.0          141.0     10.0          0.0        0.0
4           34.0      31.0          135.0     17.0          0.0        0.0
...          ...       ...            ...      ...          ...        ...
45248        NaN      50.0            NaN    190.0         19.0      240.0
45249        NaN     330.0            NaN    130.0         19.0      220.0
45250        NaN     290.0            NaN    210.0         19.0      220.0
45251        NaN     290.0            NaN    210.0        200.0        0.0
45252        NaN     340.0            NaN    100.0        250.0      210.0

       Las Vegas  Phoenix  Albuquerque  Denver  ...  Detroit  Jacksonville  \
0            NaN      NaN          NaN     NaN  ...      NaN           NaN
1            0.0     10.0        360.0    20.0  ...      0.0         180.0
2            8.0      9.0        360.0    22.0  ...      0.0         180.0
3           23.0      9.0        360.0    31.0  ...      0.0         180.0
4           37.0      9.0        360.0    39.0  ...      0.0         180.0
...          ...      ...          ...     ...  ...      ...           ...
45248       58.0    350.0        217.0   310.0  ...     50.0          80.0
45249       58.0    179.0        217.0   300.0  ...     70.0          50.0
45250       58.0    130.0        190.0   340.0  ...     90.0          80.0
45251       44.0    320.0        200.0    10.0  ...    110.0          60.0
45252      200.0      0.0        230.0    30.0  ...    100.0          50.0

       Charlotte  Miami  Pittsburgh  Toronto  Philadelphia  New York  \
0            NaN    NaN         NaN      NaN           NaN       NaN
1           70.0  200.0         0.0    240.0         270.0     260.0
2           70.0  200.0         0.0    236.0         270.0     260.0
3           71.0  200.0         0.0    226.0         271.0     260.0
4           71.0  200.0         0.0    216.0         272.0     260.0
...          ...    ...         ...      ...           ...       ...
45248      320.0    NaN       330.0    360.0         290.0       NaN
45249      320.0    NaN       350.0    360.0         290.0       NaN
45250      320.0    NaN       350.0    350.0         320.0       NaN
45251      169.0    NaN       350.0     10.0         330.0       NaN
45252      169.0    NaN       360.0    330.0         360.0       NaN

       Montreal  Boston
0           NaN     NaN
1         230.0    60.0
2         230.0    60.0
3         231.0    60.0
4         233.0    60.0
...         ...     ...
45248     300.0   290.0
45249     300.0   340.0
45250     290.0   340.0
45251     290.0   330.0
45252     300.0   320.0

[45253 rows x 30 columns]
weather_description.csv
           Vancouver          Portland San Francisco          Seattle  \
0                NaN               NaN           NaN              NaN
1               mist  scattered clouds    light rain     sky is clear
2      broken clouds  scattered clouds  sky is clear     sky is clear
3      broken clouds  scattered clouds  sky is clear     sky is clear
4      broken clouds  scattered clouds  sky is clear     sky is clear
...              ...               ...           ...              ...
45248            NaN     broken clouds           NaN       light rain
45249            NaN     broken clouds           NaN  overcast clouds
45250            NaN     broken clouds           NaN    broken clouds
45251            NaN     broken clouds           NaN    broken clouds
45252            NaN     broken clouds           NaN       few clouds

        Los Angeles      San Diego     Las Vegas        Phoenix  \
0               NaN            NaN           NaN            NaN
1              mist   sky is clear  sky is clear   sky is clear
2      sky is clear   sky is clear  sky is clear   sky is clear
3      sky is clear   sky is clear  sky is clear   sky is clear
4      sky is clear   sky is clear  sky is clear   sky is clear
...             ...            ...           ...            ...
45248  sky is clear  broken clouds  sky is clear   sky is clear
45249  sky is clear  broken clouds  sky is clear   sky is clear
45250  sky is clear  broken clouds  sky is clear   sky is clear
45251  sky is clear  broken clouds  sky is clear  broken clouds
45252  sky is clear  broken clouds  sky is clear  broken clouds

           Albuquerque         Denver  ...       Detroit      Jacksonville  \
0                  NaN            NaN  ...           NaN               NaN
1         sky is clear     light rain  ...  sky is clear  scattered clouds
2         sky is clear  broken clouds  ...  sky is clear  scattered clouds
3         sky is clear  broken clouds  ...  sky is clear  scattered clouds
4         sky is clear  broken clouds  ...  sky is clear  scattered clouds
...                ...            ...  ...           ...               ...
45248    broken clouds  broken clouds  ...  sky is clear        few clouds
45249    broken clouds   sky is clear  ...  sky is clear  scattered clouds
45250    broken clouds   sky is clear  ...  sky is clear        few clouds
45251  overcast clouds           haze  ...  sky is clear      sky is clear
45252  overcast clouds   sky is clear  ...  sky is clear      sky is clear

             Charlotte                    Miami        Pittsburgh  \
0                  NaN                      NaN               NaN
1                 mist  light intensity drizzle              mist
2      overcast clouds            broken clouds  scattered clouds
3      overcast clouds            broken clouds  scattered clouds
4      overcast clouds            broken clouds  scattered clouds
...                ...                      ...               ...
45248       few clouds                      NaN      sky is clear
45249       few clouds                      NaN      sky is clear
45250       few clouds                      NaN      sky is clear
45251       few clouds                      NaN      sky is clear
45252             haze                      NaN      sky is clear

            Toronto      Philadelphia    New York          Montreal  \
0               NaN               NaN         NaN               NaN
1      sky is clear     broken clouds  few clouds   overcast clouds
2      sky is clear     broken clouds  few clouds      sky is clear
3      sky is clear     broken clouds  few clouds      sky is clear
4      sky is clear     broken clouds  few clouds      sky is clear
...             ...               ...         ...               ...
45248  sky is clear  scattered clouds         NaN     broken clouds
45249  sky is clear  scattered clouds         NaN  scattered clouds
45250  sky is clear  scattered clouds         NaN        few clouds
45251    few clouds        few clouds         NaN        few clouds
45252  sky is clear      sky is clear         NaN        few clouds

              Boston
0                NaN
1       sky is clear
2         few clouds
3         few clouds
4         few clouds
...              ...
45248  broken clouds
45249  broken clouds
45250  broken clouds
45251     few clouds
45252  broken clouds

[45253 rows x 30 columns]
temperature.csv
        Vancouver    Portland  San Francisco     Seattle  Los Angeles  \
0             NaN         NaN            NaN         NaN          NaN
1      284.630000  282.080000     289.480000  281.800000   291.870000
2      284.629041  282.083252     289.474993  281.797217   291.868186
3      284.626998  282.091866     289.460618  281.789833   291.862844
4      284.624955  282.100481     289.446243  281.782449   291.857503
...           ...         ...            ...         ...          ...
45248         NaN  282.000000            NaN  280.820000   293.550000
45249         NaN  282.890000            NaN  281.650000   295.680000
45250         NaN  283.390000            NaN  282.750000   295.960000
45251         NaN  283.020000            NaN  282.960000   295.650000
45252         NaN  282.280000            NaN  283.040000   294.930000

        San Diego   Las Vegas     Phoenix  Albuquerque      Denver  ...  \
0             NaN         NaN         NaN          NaN         NaN  ...
1      291.530000  293.410000  296.600000   285.120000  284.610000  ...
2      291.533501  293.403141  296.608509   285.154558  284.607306  ...
3      291.543355  293.392177  296.631487   285.233952  284.599918  ...
4      291.553209  293.381213  296.654466   285.313345  284.592530  ...
...           ...         ...         ...          ...         ...  ...
45248  292.150000  289.540000  294.710000   285.720000  289.560000  ...
45249  292.740000  290.610000  295.590000   286.450000  290.700000  ...
45250  292.580000  291.340000  296.250000   286.440000  289.710000  ...
45251  292.610000  292.150000  297.150000   286.140000  289.170000  ...
45252  291.400000  291.640000  297.150000   284.700000  285.180000  ...

          Detroit  Jacksonville   Charlotte       Miami  Pittsburgh  \
0             NaN           NaN         NaN         NaN         NaN
1      284.030000    298.170000  288.650000  299.720000  281.000000
2      284.069789    298.205230  288.650172  299.732518  281.024767
3      284.173965    298.299595  288.650582  299.766579  281.088319
4      284.278140    298.393961  288.650991  299.800641  281.151870
...           ...           ...         ...         ...         ...
45248  281.250000    296.920000  294.150000         NaN  285.300000
45249  281.050000    296.920000  293.900000         NaN  285.330000
45250  280.170000    296.330000  292.060000         NaN  282.910000
45251  278.060000    294.950000  287.580000         NaN  280.140000
45252  276.590000    293.150000  285.610000         NaN  279.190000

          Toronto  Philadelphia    New York    Montreal      Boston
0             NaN           NaN         NaN         NaN         NaN

In [5]:
# Combine all features into a dataframe for each city
all_city_dfs = []
for city_idx in range(30):
    city_df = datetime_df.copy()
    for feature, df in all_feature_dfs:
        city_df[feature] = df.iloc[:, city_idx]
    city_name = df.columns[city_idx]
    city_df['Latitude'] = lat_long_df.iloc[city_idx, 0]
    city_df['Longitude'] = lat_long_df.iloc[city_idx, 1]
    print(city_name)
    print(city_df)
    all_city_dfs.append(city_df)

Vancouver
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012       NaN         0.0      76.0             0.0
2        14    1     10  2012       NaN         0.0      76.0             6.0
3        15    1     10  2012       NaN         0.0      76.0            20.0
4        16    1     10  2012       NaN         0.0      77.0            34.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017       NaN         NaN       NaN             NaN
45249    21   29     11  2017       NaN         NaN       NaN             NaN
45250    22   29     11  2017       NaN         NaN       NaN             NaN
45251    23   29     11  2017       NaN         NaN       NaN             NaN
45252     0   30     11  2017       NaN         NaN       NaN             NaN

      weather_description  temperature  Latitude   Longitude
0                     NaN          NaN  49.24966 -123.119339
1                    mist   284.630000  49.24966 -123.119339
2           broken clouds   284.629041  49.24966 -123.119339
3           broken clouds   284.626998  49.24966 -123.119339
4           broken clouds   284.624955  49.24966 -123.119339
...                   ...          ...       ...         ...
45248                 NaN          NaN  49.24966 -123.119339
45249                 NaN          NaN  49.24966 -123.119339
45250                 NaN          NaN  49.24966 -123.119339
45251                 NaN          NaN  49.24966 -123.119339
45252                 NaN          NaN  49.24966 -123.119339

[45253 rows x 12 columns]
Portland
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1024.0         0.0      81.0             0.0
2        14    1     10  2012    1024.0         0.0      80.0             4.0
3        15    1     10  2012    1024.0         0.0      80.0            18.0
4        16    1     10  2012    1024.0         0.0      80.0            31.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1031.0         2.0      81.0            50.0
45249    21   29     11  2017    1030.0         1.0      71.0           330.0
45250    22   29     11  2017    1030.0         1.0      71.0           290.0
45251    23   29     11  2017    1029.0         2.0      71.0           290.0
45252     0   30     11  2017    1029.0         1.0      76.0           340.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  45.523449 -122.676208
1        scattered clouds   282.080000  45.523449 -122.676208
2        scattered clouds   282.083252  45.523449 -122.676208
3        scattered clouds   282.091866  45.523449 -122.676208
4        scattered clouds   282.100481  45.523449 -122.676208
...                   ...          ...        ...         ...
45248       broken clouds   282.000000  45.523449 -122.676208
45249       broken clouds   282.890000  45.523449 -122.676208
45250       broken clouds   283.390000  45.523449 -122.676208
45251       broken clouds   283.020000  45.523449 -122.676208
45252       broken clouds   282.280000  45.523449 -122.676208

[45253 rows x 12 columns]
San Francisco
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1009.0         2.0      88.0           150.0
2        14    1     10  2012    1009.0         2.0      87.0           147.0
3        15    1     10  2012    1009.0         2.0      86.0           141.0
4        16    1     10  2012    1009.0         2.0      85.0           135.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017       NaN         NaN       NaN             NaN
45249    21   29     11  2017       NaN         NaN       NaN             NaN
45250    22   29     11  2017       NaN         NaN       NaN             NaN
45251    23   29     11  2017       NaN         NaN       NaN             NaN
45252     0   30     11  2017       NaN         NaN       NaN             NaN

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  37.774929 -122.419418
1              light rain   289.480000  37.774929 -122.419418
2            sky is clear   289.474993  37.774929 -122.419418
3            sky is clear   289.460618  37.774929 -122.419418
4            sky is clear   289.446243  37.774929 -122.419418
...                   ...          ...        ...         ...
45248                 NaN          NaN  37.774929 -122.419418
45249                 NaN          NaN  37.774929 -122.419418
45250                 NaN          NaN  37.774929 -122.419418
45251                 NaN          NaN  37.774929 -122.419418
45252                 NaN          NaN  37.774929 -122.419418

[45253 rows x 12 columns]
Seattle
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1027.0         0.0      81.0             0.0
2        14    1     10  2012    1027.0         0.0      80.0             2.0
3        15    1     10  2012    1028.0         0.0      80.0            10.0
4        16    1     10  2012    1028.0         0.0      79.0            17.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1030.0         4.0      93.0           190.0
45249    21   29     11  2017    1030.0         5.0      87.0           130.0
45250    22   29     11  2017    1029.0         5.0      93.0           210.0
45251    23   29     11  2017    1028.0         3.0      87.0           210.0
45252     0   30     11  2017    1028.0         4.0      75.0           100.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  47.606209 -122.332069
1            sky is clear   281.800000  47.606209 -122.332069
2            sky is clear   281.797217  47.606209 -122.332069
3            sky is clear   281.789833  47.606209 -122.332069
4            sky is clear   281.782449  47.606209 -122.332069
...                   ...          ...        ...         ...
45248          light rain   280.820000  47.606209 -122.332069
45249     overcast clouds   281.650000  47.606209 -122.332069
45250       broken clouds   282.750000  47.606209 -122.332069
45251       broken clouds   282.960000  47.606209 -122.332069
45252          few clouds   283.040000  47.606209 -122.332069

[45253 rows x 12 columns]
Los Angeles
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1013.0         0.0      88.0             0.0
2        14    1     10  2012    1013.0         0.0      88.0             0.0
3        15    1     10  2012    1013.0         0.0      88.0             0.0
4        16    1     10  2012    1013.0         0.0      88.0             0.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1016.0         1.0      24.0            19.0
45249    21   29     11  2017    1016.0         1.0      21.0            19.0
45250    22   29     11  2017    1015.0         1.0      23.0            19.0
45251    23   29     11  2017    1016.0         2.0      14.0           200.0
45252     0   30     11  2017    1015.0         1.0      56.0           250.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  34.052231 -118.243683
1                    mist   291.870000  34.052231 -118.243683
2            sky is clear   291.868186  34.052231 -118.243683
3            sky is clear   291.862844  34.052231 -118.243683
4            sky is clear   291.857503  34.052231 -118.243683
...                   ...          ...        ...         ...
45248        sky is clear   293.550000  34.052231 -118.243683
45249        sky is clear   295.680000  34.052231 -118.243683
45250        sky is clear   295.960000  34.052231 -118.243683
45251        sky is clear   295.650000  34.052231 -118.243683
45252        sky is clear   294.930000  34.052231 -118.243683

[45253 rows x 12 columns]
San Diego
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1013.0         0.0      82.0             0.0
2        14    1     10  2012    1013.0         0.0      81.0             0.0
3        15    1     10  2012    1013.0         0.0      81.0             0.0
4        16    1     10  2012    1013.0         0.0      81.0             0.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1017.0         2.0      72.0           240.0
45249    21   29     11  2017    1017.0         1.0      72.0           220.0
45250    22   29     11  2017    1016.0         2.0      68.0           220.0
45251    23   29     11  2017    1016.0         2.0      63.0             0.0
45252     0   30     11  2017    1017.0         2.0      72.0           210.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  32.715328 -117.157257
1            sky is clear   291.530000  32.715328 -117.157257
2            sky is clear   291.533501  32.715328 -117.157257
3            sky is clear   291.543355  32.715328 -117.157257
4            sky is clear   291.553209  32.715328 -117.157257
...                   ...          ...        ...         ...
45248       broken clouds   292.150000  32.715328 -117.157257
45249       broken clouds   292.740000  32.715328 -117.157257
45250       broken clouds   292.580000  32.715328 -117.157257
45251       broken clouds   292.610000  32.715328 -117.157257
45252       broken clouds   291.400000  32.715328 -117.157257

[45253 rows x 12 columns]
Las Vegas
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1018.0         0.0      22.0             0.0
2        14    1     10  2012    1018.0         0.0      21.0             8.0
3        15    1     10  2012    1018.0         0.0      21.0            23.0
4        16    1     10  2012    1018.0         0.0      21.0            37.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1021.0         1.0      18.0            58.0
45249    21   29     11  2017    1020.0         1.0      18.0            58.0
45250    22   29     11  2017    1020.0         1.0      17.0            58.0
45251    23   29     11  2017    1020.0         0.0      17.0            44.0
45252     0   30     11  2017    1019.0         1.0      17.0           200.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  36.174969 -115.137222
1            sky is clear   293.410000  36.174969 -115.137222
2            sky is clear   293.403141  36.174969 -115.137222
3            sky is clear   293.392177  36.174969 -115.137222
4            sky is clear   293.381213  36.174969 -115.137222
...                   ...          ...        ...         ...
45248        sky is clear   289.540000  36.174969 -115.137222
45249        sky is clear   290.610000  36.174969 -115.137222
45250        sky is clear   291.340000  36.174969 -115.137222
45251        sky is clear   292.150000  36.174969 -115.137222
45252        sky is clear   291.640000  36.174969 -115.137222

[45253 rows x 12 columns]
Phoenix
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1013.0         2.0      23.0            10.0
2        14    1     10  2012    1013.0         2.0      23.0             9.0
3        15    1     10  2012    1013.0         2.0      23.0             9.0
4        16    1     10  2012    1013.0         2.0      23.0             9.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1018.0         3.0      68.0           350.0
45249    21   29     11  2017    1018.0         1.0      73.0           179.0
45250    22   29     11  2017    1017.0         2.0      60.0           130.0
45251    23   29     11  2017    1016.0         3.0      33.0           320.0
45252     0   30     11  2017    1016.0         2.0      23.0             0.0

      weather_description  temperature  Latitude   Longitude
0                     NaN          NaN  33.44838 -112.074043
1            sky is clear   296.600000  33.44838 -112.074043
2            sky is clear   296.608509  33.44838 -112.074043
3            sky is clear   296.631487  33.44838 -112.074043
4            sky is clear   296.654466  33.44838 -112.074043
...                   ...          ...       ...         ...
45248        sky is clear   294.710000  33.44838 -112.074043
45249        sky is clear   295.590000  33.44838 -112.074043
45250        sky is clear   296.250000  33.44838 -112.074043
45251       broken clouds   297.150000  33.44838 -112.074043
45252       broken clouds   297.150000  33.44838 -112.074043

[45253 rows x 12 columns]
Albuquerque
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1024.0         4.0      50.0           360.0
2        14    1     10  2012    1024.0         4.0      49.0           360.0
3        15    1     10  2012    1024.0         4.0      49.0           360.0
4        16    1     10  2012    1024.0         4.0      49.0           360.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1025.0         1.0      37.0           217.0
45249    21   29     11  2017    1024.0         1.0      34.0           217.0
45250    22   29     11  2017    1024.0         1.0      32.0           190.0
45251    23   29     11  2017    1024.0         1.0      30.0           200.0
45252     0   30     11  2017    1024.0         2.0      34.0           230.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  35.084492 -106.651138
1            sky is clear   285.120000  35.084492 -106.651138
2            sky is clear   285.154558  35.084492 -106.651138
3            sky is clear   285.233952  35.084492 -106.651138
4            sky is clear   285.313345  35.084492 -106.651138
...                   ...          ...        ...         ...
45248       broken clouds   285.720000  35.084492 -106.651138
45249       broken clouds   286.450000  35.084492 -106.651138
45250       broken clouds   286.440000  35.084492 -106.651138
45251     overcast clouds   286.140000  35.084492 -106.651138
45252     overcast clouds   284.700000  35.084492 -106.651138

[45253 rows x 12 columns]
Denver
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1028.0         4.0      62.0            20.0
2        14    1     10  2012    1028.0         4.0      62.0            22.0
3        15    1     10  2012    1028.0         3.0      62.0            31.0
4        16    1     10  2012    1028.0         3.0      62.0            39.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1016.0         3.0      18.0           310.0
45249    21   29     11  2017    1018.0         6.0      12.0           300.0
45250    22   29     11  2017    1018.0         3.0      15.0           340.0
45251    23   29     11  2017    1020.0         1.0      28.0            10.0
45252     0   30     11  2017    1021.0         3.0      31.0            30.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  39.739151 -104.984703
1              light rain   284.610000  39.739151 -104.984703
2           broken clouds   284.607306  39.739151 -104.984703
3           broken clouds   284.599918  39.739151 -104.984703
4           broken clouds   284.592530  39.739151 -104.984703
...                   ...          ...        ...         ...
45248       broken clouds   289.560000  39.739151 -104.984703
45249        sky is clear   290.700000  39.739151 -104.984703
45250        sky is clear   289.710000  39.739151 -104.984703
45251                haze   289.170000  39.739151 -104.984703
45252        sky is clear   285.180000  39.739151 -104.984703

[45253 rows x 12 columns]
San Antonio
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1014.0         0.0      93.0             0.0
2        14    1     10  2012    1014.0         0.0      92.0             5.0
3        15    1     10  2012    1014.0         0.0      92.0            18.0
4        16    1     10  2012    1014.0         0.0      92.0            31.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1022.0         2.0      37.0           348.0
45249    21   29     11  2017    1021.0         2.0      35.0           280.0
45250    22   29     11  2017    1021.0         2.0      38.0           348.0
45251    23   29     11  2017    1021.0         3.0      37.0           200.0
45252     0   30     11  2017    1021.0         1.0      48.0           180.0

      weather_description  temperature  Latitude  Longitude
0                     NaN          NaN  29.42412 -98.493629
1            sky is clear   289.290000  29.42412 -98.493629
2            sky is clear   289.303649  29.42412 -98.493629
3            sky is clear   289.338497  29.42412 -98.493629
4            sky is clear   289.373345  29.42412 -98.493629
...                   ...          ...       ...        ...
45248        sky is clear   294.700000  29.42412 -98.493629
45249        sky is clear   295.820000  29.42412 -98.493629
45250        sky is clear   296.040000  29.42412 -98.493629
45251        sky is clear   295.280000  29.42412 -98.493629
45252        sky is clear   292.020000  29.42412 -98.493629

[45253 rows x 12 columns]
Dallas
       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012    1011.0         3.0      87.0           340.0
2        14    1     10  2012    1011.0         3.0      86.0           339.0
3        15    1     10  2012    1011.0         3.0      86.0           338.0
4        16    1     10  2012    1011.0         3.0      86.0           337.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1021.0         3.0      45.0           290.0
45249    21   29     11  2017    1021.0         3.0      42.0           250.0
45250    22   29     11  2017    1021.0         3.0      42.0           270.0
45251    23   29     11  2017    1021.0         2.0      45.0           260.0
45252     0   30     11  2017    1021.0         2.0      42.0           285.0

      weather_description  temperature   Latitude  Longitude
0                     NaN          NaN  32.783058 -96.806671

In [6]:
# Combine all city dataframes into a single master dataframe
master_df = pd.concat(all_city_dfs, axis=0)
print(master_df)

       Hour  Day  Month  Year  pressure  wind_speed  humidity  wind_direction  \
0        12    1     10  2012       NaN         NaN       NaN             NaN
1        13    1     10  2012       NaN         0.0      76.0             0.0
2        14    1     10  2012       NaN         0.0      76.0             6.0
3        15    1     10  2012       NaN         0.0      76.0            20.0
4        16    1     10  2012       NaN         0.0      77.0            34.0
...     ...  ...    ...   ...       ...         ...       ...             ...
45248    20   29     11  2017    1017.0         8.0      37.0           290.0
45249    21   29     11  2017    1019.0         6.0      74.0           340.0
45250    22   29     11  2017    1019.0         7.0      74.0           340.0
45251    23   29     11  2017    1022.0         2.0      56.0           330.0
45252     0   30     11  2017    1023.0         2.0      56.0           320.0

      weather_description  temperature   Latitude   Longitude
0                     NaN          NaN  49.249660 -123.119339
1                    mist   284.630000  49.249660 -123.119339
2           broken clouds   284.629041  49.249660 -123.119339
3           broken clouds   284.626998  49.249660 -123.119339
4           broken clouds   284.624955  49.249660 -123.119339
...                   ...          ...        ...         ...
45248       broken clouds   288.080000  42.358429  -71.059769
45249       broken clouds   286.020000  42.358429  -71.059769
45250       broken clouds   283.940000  42.358429  -71.059769
45251          few clouds   282.170000  42.358429  -71.059769
45252       broken clouds   280.650000  42.358429  -71.059769

[1357590 rows x 12 columns]

In [7]:
# Save to a csv file
master_df.to_csv('all_weather_data.csv')